<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OBS Stream Poll{% endblock %}</title>
        {% include 'components/_favicon.html.twig' %}
        {% include 'components/_og.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app_obs') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
